@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;800&family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

:root {
    --colorWhite: #ffffff;
    --colorDarkBlue: #02103d;
    --colorTransparent: #8f8f8f60;
    --colorAccent: #49f2d6;
    --colorError:#eb5e4e;
    --colorBusiness:#19094d;
    --colorWork:#0b660b;
    --colorPersonal:#f5b003;
    --colorFamFriends:#6a0ea8;
    --light: rgb(248, 248, 248);
    --dark: #171717;
    --fontFamily: 'Poppins', Helvetica, sans-serif;
    --fontTitle: 'Poppins';
    --fontBody: 'Poppins';

    --business-glow: 0px 0px 4px rgba(39, 62, 97, 0.978);
    --work-glow: 0px 0px 4px rgba(34, 142, 57, 0.75);
    --personal-glow: 0px 0px 4px rgba(234, 220, 64, 0.75);
	--famfriends-glow: 0px 0px 4px rgba(175, 64, 234, 0.75);
}


body{
    background: var(--light);
	color: var(--dark);
    font-family: var(--fontFamily);
    font-size: 15px;
    font-weight: 300;
}

li{
    list-style: none;
}
input:not([type="radio"]):not([type="checkbox"]) {
	appearance: none;
	outline: none;
	background: none;
	cursor: initial;
}

.category input[type="radio"] {
	display: none;
}

input[type="text"],input[type="email"],input[type="password"]{
    font-size: 16px;
    font-weight:500;
    padding-left: 30px;
    margin-top: 10px;
}



/*navegador*/

.hamburger{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    height: 25px;
}
.line-burger{
    width: 25px;
    height: 3px;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: var(--colorWhite);
}
.navegacion{
   display: flex;
   flex-direction: column;
   align-items: center;
   position: absolute;
   top: 75px;
   left: 0;
   right: 0;
   width: 100vw;
   height: 22vh;
   background-color: var(--colorDarkBlue);
   transition: 0.3s;
}
li a{
    color: var(--colorWhite);
    text-decoration: none;
    font-size: 16px;
    line-height: 18px;
}
.navegacion-links li{
    margin-top: 15px;
    
}
/* .menu-box{
    background-color: var(--colorDarkBlue);
    color: var(--colorWhite);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100vw;
} */


/* SignIn Component */

h1 {
    color: var(--colorDarkBlue);
    font-size: 2.4rem;
    line-height: 2.3rem;
    text-align: center;
    
}

h2 {
    font-size: 2rem;
    padding-bottom: 20px;
    margin: 30px 0;
    text-align: center;
    color: var(--colorDarkBlue);
}

h3 {
    color: var(--colorDarkBlue);
    font-size: 2.3rem;
    line-height: 2rem;
}

h4 {
    color: var(--colorDarkBlue);
    font-weight: 300;
    font-size: 1.5;
    margin:10px
}

h5 {
    color: var(--colorDarkBlue);
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 5px;
}

/* // buttons */
.button-border {
    border: 2px solid var(--colorAccent);
    border-radius: 15px;
    background-color:var(--colorWhite);
    margin-top: 15px;
    padding: 10px 20px;
    cursor: pointer;
    width: 100px;
    text-align: center;
}

.button-border:hover {
    background-color: var(--colorAccent);
    color: var(--colorWhite);
    font-weight: 700;
}
.log-out-btn{
    background-color: var(--colorDarkBlue);
    color: var(--colorWhite);
    border-radius: 20px;
    margin: 20px 0;
}

/*  missatge error que surt a sign in i sign up */
 .errorMsg{
    /* background-color: var(--colorError) ; */
    padding: 3px 15px;
    margin: 5px;
    color: var(--colorError);
    font-size: 12px;
    text-align: center;
}

.container{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.container-sign{
    background-color:var(--colorDarkBlue);
    height: 60vh;
    
}
.box-order{
    padding-top: 7vh;
    display: flex;
}
.logo-img{
    width: 40%;
    margin: 10px 0 40px 0;
}
.image-sign{
    display: none;
}
.askaccount{
    padding-top: 3vh;
    font-size: 0.8rem;
}
.container-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--colorWhite);
    border-radius: 50px;
    box-shadow: 4px 5px 15px 2px rgba(99, 100, 100, 0.2);
    padding: 15px 15px 10px;
    height: 65vh; 
    max-height: 550px;
    width: 80vw; 
    max-width: 500px;
  
}
.container-form h4{
    padding: 5px 0 15px 0;
    text-align: center;
}

.header-title{
    text-align: center;
    margin-top: 10px;

}
.form-sign-in{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-input{
    display: flex;
    flex-direction: column;
    padding: 2vh 0px 1vh ;
    width: 75vw;
    max-width: 460px;
    
}

.input-field{  
  border:0;
  border-bottom:1px solid var(--colorDarkBlue);
  font-size: 12px;
  padding:0 0 3px 10px; 
}

.sign-up-link{
    text-decoration: none;
    color: var(--colorAccent);
}

.sign-up-link:hover{
    color: var(--colorDarkBlue);
    font-weight: 700;
}
/* SignUp Component */



/* Home view */
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*FICHA Add New task */
.newTask-container{
    width: 80vw;
    max-width: 600px;
    background-color: var(--colorWhite);
    padding: 50px 10px 30px;
    border-radius: 15px;
    box-shadow: 4px 5px 15px 2px rgba(99, 100, 100, 0.2);
    margin: 45px 0 40px 0;
}

.form-add{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.category{
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-options{
    display: flex;
    /* flex-wrap: wrap; */
    width: 30vw;
    justify-content: space-evenly;
    margin-top: 10px;
}

.category-options label{
    margin: 0 10px 5px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input:checked ~ .bubble::after {
	width: 10px;
	height: 10px;
	opacity: 1;
}

.bubble {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid var(--colorBusiness);
	box-shadow: var(--colorBusiness);
}

.bubble.work {
	border-color: var(--colorWork);
	box-shadow: var(--work-glow);
}

.bubble.personal {
	border-color: var(--colorPersonal);
	box-shadow: var(--personal-glow);
}

.bubble.familyfriends {
	border-color: var(--colorFamFriends);
	box-shadow: var(--famfriends-glow);
}

.bubble::after {
	content: "";
	display: block;
	opacity: 0;
	width: 0px;
	height: 0px;
	background-color: var(--colorBusiness);
	box-shadow: var(--business-glow);
	border-radius: 50%;
	transition: 0.2s ease-in-out;
}

.bubble.work::after {
	background-color: var(--colorWork);
	box-shadow: var(--work-glow);
}

.bubble.personal::after {
	background-color: var(--colorPersonal);
	box-shadow: var(--personal-glow);
}

.bubble.familyfriends::after {
	background-color: var(--colorFamFriends);
	box-shadow: var(--famfriends-glow);
}




/*task item*/
.tasks-container{
    /* width: 80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:10px; */
    
    columns: 4 250px;
    width: 80vw;

}

.taskItem-box{
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px 0px 25px;
    break-inside: avoid;
    max-width: 330px;
    min-height: 150px;
    padding: 20px 10px 30px 20px;
    border-radius: 15px;
    box-shadow: 4px 5px 15px 2px rgba(99, 100, 100, 0.2);
}
/*estilos de las fichas completas o no completas*/
.taskItem-box-completed{
    background-color: var(--light);
    opacity: 50%;
}

.taskItem-box-not-completed{
    background-color: var(--colorWhite);
}
/* Task item status stye type*/

.completed {
    text-decoration: line-through;
    color: grey;
    }
.not-completed{
        color: var(--colorDarkBlue);
    }

/*task item info interna*/
.taskItem-box-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 160px;
}

.taskItem-box-info h3{
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: 500;
}

.tagCategory {
    font-size: 13px;
    color:var(--colorWhite);
    padding: 3px 6px;
    border-radius: 5px;
    margin-left: 0px;
}
/*colores variables tags categoria*/
.category-tag-busines{
    background-color: var(--colorBusiness);
}
.category-tag-work{
    background-color: var(--colorWork);
}
.category-tag-personal{
    background-color: var(--colorPersonal);
}
.category-tag-friends{
    background-color: var(--colorFamFriends);
}

.taskItem-box-info p{
    font-size: 17px;
    margin-left: 10px;
}
/* .taskItem-box-info{
    max-width: 100px;
} */

/* .taskItem-box-buttons{
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 15px;
    right: 15px;
} */

.positive-btns{
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    flex-direction: column;
    height: 115px;
    justify-content: space-around;
}

/*buttons*/

.btn{
    width: 20px;
    height: 20px;
    background-color: var(--colorWhite);
    border:none;
    background-position: center;
    background-repeat: no-repeat;
}

.delete-btn{
    background-image: url(../assets/img/trash-can-regular.svg);
    position: absolute;
    bottom: 15px;
    right: 15px;
}
.delete-btn:hover{
    background-image: url(../assets/img/delete.svg);
}
.complet-btn {
    background-image: url(../assets/img/circle-check-regular.svg);
}
.not-complete-btn, .complet-btn:hover {
    background-image: url(../assets/img/circle-check-solid.svg);
}
.checklist-btn{
    background-image: url(../assets/img/rectangle-list-regular.svg);
}
.checklist-btn:hover{
    background-image: url(../assets/img/rectangle-list-solid.svg);
}
.edit-btn{
    background-image: url(../assets/img/pen-to-square-regular.svg);
}
.not-edit-btn, .edit-btn:hover{
    background-image: url(../assets/img/pen-to-square-solid.svg);
}
/* 
.edit-btn:active{
    background-image: url(../assets/img/pen-to-square-solid.svg);
} */

.taskItems-optional{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
.edit-option{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--colorDarkBlue);
    padding: 15px;
    border-radius: 5px;
}
.edit-option button{
    background-color: var(--colorWhite);
    margin-top: 5px;
    border: 2px solid var(--colorDarkBlue);
    padding: 3px;
    border-radius: 5px;
}

.edit-option button:hover{
background-color: var(--colorDarkBlue);
color: var(--colorWhite);
}

.option-input{
    border: 0px;
    border-bottom: 1px solid var(--colorDarkBlue);
    padding: 5px 0;
}


/* Subtasks*/

.subtask-container{
    margin: 15px 0;
}
.add-task-cheklist{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.submit-subclass{
    width: 15px;
    height: 15px;
    background-color: var(--colorWhite);
    border:none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../assets/img/add.svg);
    margin-left: 5px;
}

.submit-subclass:hover{
    background-image: url(../assets/img/add-hover.svg);
}

.subtask-list{
    display: flex;
    align-items: baseline;
}

.subtask-list input{
    margin: 8px 8px 0 0;

}
.subtask-item{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.dlt-subtask-btn{
    width: 12px;
    height: 12px;
    background-image: url(../assets/img/xmark-solid.svg);
}

.cheklist-subtask{
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: var(--light);
    border: var(--colorDarkBlue) 1px solid;
}
/* Account View */

.user-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0 15px;
}

.avatar{
    border-radius:150px ;
    margin: 30px 0 20px 0;
}
.user-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.upload-button{
    border-radius: 40px;
    margin-top: 0px;
    width: auto;
    padding: 5px 10px;
}



/* // MEDIA QUERI/ RESPONSIVE */

@media (min-width:768px){


.image-sign{
    display: block;
    background-image: url(../assets/img/pleasant-looking-afro-american-woman-holds-notepads-papers-studies-at-college-glad-to-finish-studying.jpg) ;
    
}

/* .tasks-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  grid-auto-rows: 200px;
  gap: 10px;
  columns: 4 250px;
} */
.burger-menu{
    display: none;
}

.desktop-menu{
    display: flex;
}

.menu-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-links li{
    margin-right: 55px;

}

.taskItem-box-info{
    max-width: 200px;
}

.user-container{
    margin-top: 70px;
}

/* .container-form{
    height: 80vh;
} */
}